[user]
	email = andre.pereira@sefa.pa.gov.br
	name = Andre Pereira
[core]
	editor = vim
[alias]
	hist = log --all --oneline --graph --decorate

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /home/andre/dev-worker03/pipeline-bpe
	directory = /home/andre/dev-worker03/analytics-spark
	directory = /home/andre/dev-worker03/analytics-cdp
	directory = /home/andre/dev-worker03/pipeline-scanc
	directory = /home/andre/dev-worker03/pipeline-iafi
	directory = /home/andre/dev-worker03/backup-kudu
	directory = /home/andre/dev-worker03/xsd-to-json
	directory = /home/andre/dev-worker03/pipeline-nfcom
