[user]
	email = andre.pereira@sefa.pa.gov.br
	name = Andre Pereira
[core]
	editor = vim
[alias]
	hist = log --all --oneline --graph --decorate

[safe]
	directory = /home/ec2-user/uranus-api-deltasync/uranus-api-deltasync
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
